<div
    class="nav-container display-flex flex-direction-column justify-content-center align-items-center"
>
    <a href="/"
        ><img
            class="nav-logo"
            src="/images/logo-desapego.svg"
            alt="Logo de Desapego"
    /></a>
    <div class="menu-hamburger">
        <i class="fas fa-bars menu-hamburger-icon"></i>
    </div>

    <nav class="nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-anchor" href="/productCart"
                    >Mis compras <i class="fas fa-shopping-basket"></i
                ></a>
            </li>
            <!-- Al ingresar a Desapego podes loguearte y sino tenes cuenta poser crearla desde el "login"
                            
                            <li class="nav-item">
                            <a class="nav-anchor" href="/register"
                                >Creá tu cuenta <i class="far fa-id-card"></i
                            ></a>
                        </li>-->
            <li class="nav-item">
                <a class="nav-anchor" href="/login"
                    >Ingresar <i class="fas fa-sign-in-alt"></i
                ></a>
            </li>
            <li class="nav-item">
                <a class="nav-anchor" href="/product/create">Vender</a>
            </li>
            <li class="nav-item">
                <a class="nav-anchor" href="#">Ayuda</a>
            </li>
        </ul>
    </nav>
</div>
<div
    class="nav-location-container bg-secondary text-light display-flex justify-content-center align-items-center"
>
    Estás comprando desde
    <span class="nav-location-box bg-muted display-inline-block text-primary">
        <a href="#" class="nav-location-anchor">Rosario</a>
        <i class="fas fa-map-marker-alt"></i
    ></span>
</div>
