.form-index-lg {
    flex-direction: row;
    justify-content: space-evenly;
}

.form-index-input-container-container-lg {
    width: 70%;
}

.form-index-input-container-lg {
    width: 49%;
}

.form-index-button-lg {
    padding: 12px;
    border-radius: 30px;
}

.featured-products-lg {
    flex-direction: row;
}

.featured-products-item-container-lg {
    width: 19%;
}
