@media (min-width: 768px) {
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .nav-location-container {
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
    }

    .menu-hamburger {
        display: none;
    }
}
