<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bienvenidxs a Desapego</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            rel="stylesheet"
            href="/css/styles-md.css"
            media="(min-width: 481px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-lg.css"
            media="(min-width: 769px)"
        />
        <link rel="stylesheet" href="/css/forms.css" />
        <link rel="stylesheet" href="/css/index.css" />

        <link rel="stylesheet" href="/css/forms.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link
            rel="stylesheet"
            href="/css/footer-md.css"
            media="(min-width: 481px)"
        />
    </head>

    <body class="bg-muted">
        <header>
            <div
                class="nav-container display-flex flex-direction-column justify-content-center align-items-center"
            >
                <img
                    class="nav-logo"
                    src="/images/logo-desapego.svg"
                    alt="Logo de Desapego"
                />
                <div class="menu-hamburger">
                    <i class="fas fa-bars menu-hamburger-icon"></i>
                </div>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-anchor" href="/productCart"
                                >Mis compras
                                <i class="fas fa-shopping-basket"></i
                            ></a>
                        </li>
                        <!-- Al ingresar a Desapego podes loguearte y sino tenes cuenta poser crearla desde el "login"
                            
                            <li class="nav-item">
                            <a class="nav-anchor" href="/register"
                                >Creá tu cuenta <i class="far fa-id-card"></i
                            ></a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-anchor" href="/login"
                                >Ingresar <i class="fas fa-sign-in-alt"></i
                            ></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-anchor" href="#">Vender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-anchor" href="#">Ayuda</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div
                class="nav-location-container bg-secondary text-light display-flex justify-content-center align-items-center"
            >
                Estás comprando desde
                <span
                    class="nav-location-box bg-muted display-inline-block text-primary"
                >
                    <a href="#" class="nav-location-anchor">Rosario</a>
                    <i class="fas fa-map-marker-alt"></i
                ></span>
            </div>
        </header>
        <main>
            <div class="form-index-container bg-primary">
                <form action="" class="form-index">
                    <label for="distancia" class="display-block"
                        >¿Qué se vende cerca?</label
                    >
                    <input
                        type="range"
                        id="distancia"
                        name="distancia"
                        min="0"
                        max="50"
                    />
                    <label for="precio" class="display-block"
                        >¿Cuánto quiero gastar?</label
                    >
                    <input
                        type="range"
                        id="precio"
                        name="precio"
                        min="0"
                        max="50"
                    />
                    <input
                        type="text"
                        placeholder="Quiero buscar por producto 🔍"
                        class="display-block form-index-search-bar text-align-center"
                    />
                </form>
            </div>
            <div class="featured-products">
                <!-- Slider de productos destacados 
                <img src="/images/products/iphone.jpg" alt="" width="350px" />
            </div>-->

                <div>
                    <!-- TODO Slider de productos destacados -->
                    <div class="featured-products-item-container">
                        <div class="featured-products-image-container">
                            <img src="/images/products/iphone.jpg" alt="" />
                        </div>
                        <p>iPhone X</p>
                        <p>$90.000</p>
                    </div>
                    <div class="featured-products-image-container">
                        <img src="/images/products/tv.jpg" alt="" />
                    </div>
                    <div class="featured-products-image-container">
                        <img src="/images/products/ventilador.jpg" alt="" />
                    </div>
                    <div class="featured-products-image-container">
                        <img src="/images/products/macbookpro.jpg" alt="" />
                    </div>
                </div>

                <div class="slider">
                    <ul>
                        <li>
                            <img src="/images/products/iphone.jpg" alt="" />
                        </li>
                        <li>
                            <img src="/images/products/macbookpro.jpg" alt="" />
                        </li>
                        <li><img src="/images/products/tv.jpg" alt="" /></li>
                        <li>
                            <img src="/images/products/ventilador.jpg" alt="" />
                        </li>
                        <li>
                            <img src="/images/products/desapegate.jpg" alt="" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="display-flex">
                <button class="bg-primary" id="boton-vender">
                    <a href="https://www.google.com.ar" class="text-muted"
                        >¡Quiero vender!</a
                    >
                </button>
            </div>
        </main>

        <footer class="bg-dark text-light text-align-center">
            <div class="footer-articles-info-container-md">
                <article
                    class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
                >
                    <div
                        class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
                    >
                        <i class="far fa-credit-card text-secondary"></i>
                    </div>
                    <h4 class="footer-article-title font-size-0-9">
                        Pagá con tarjeta o en efectivo
                    </h4>
                    <p class="footer-article-text font-size-0-8">
                        Los vendedores aceptan múltiples formas de pago.
                    </p>
                </article>
                <article
                    class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
                >
                    <div
                        class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
                    >
                        <i class="fas fa-gift text-secondary"></i>
                    </div>
                    <h4 class="footer-article-title font-size-0-9">
                        Envío sin costo
                    </h4>
                    <p class="footer-article-text font-size-0-8">
                        Te contactas directamente con el vendedor para coordinar
                        la entrega.
                    </p>
                </article>
                <article
                    class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
                >
                    <div
                        class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
                    >
                        <i class="fas fa-user-shield text-secondary"></i>
                    </div>
                    <h4 class="footer-article-title font-size-0-9">
                        Seguridad de principio a fin
                    </h4>
                    <p class="footer-article-text font-size-0-8">
                        Las identidades de nuestros vendedores han sido
                        validadas bajo un estricto proceso de control.
                        <a href="#" class="link text-muted">Conocé más</a>
                    </p>
                </article>
            </div>
            <article>
                <p class="font-size-0-8">Copyright © 2020 Desapego S.A.</p>
            </article>
        </footer>
    </body>
</html>
