<!DOCTYPE html>
<html>
    <head>
       <%- include("partials/head-base", {title: "Login"}) %>
    <body>
        <header><%- include("partials/header-simple") %></header>
    </body>
        <form action="/auth/login" method="post"></form>
        <!-- TO DO

                LOGIN VIEJO, ¿QUEDA? -->
        <!-- <div class="box">
            <h2>Login</h2>
            <form>
                <div class="inputBox">
                    <input type= "email" id= "email" name "email" required= "">
                    <label for="email"> Tu email</label>
                </div>
                <div class="inputBox">
                    <input type= "password" id= "password" name "password"
                    required= "">
                    <label for="password"> Tu contraseña</label>
                </div>
                <input type= "submit" id= "password" name "password">
                <a ref="#">No recuerdo mi contraseña</a>
                <a ref="#">No tengo cuenta !</a>
            </form>
        </div> -->
        <div class="login-box">
            <!-- <img src="/images/isologo2.png" class="avatar" alt="Avatar Image" /> -->
            <h1>Login</h1>
            <form>
                <!-- USERNAME INPUT -->
                <label for="username">Username</label>
                <input
                    type="text"
                    id="username"
                    placeholder="Enter Username"
                    required
                />
                <!-- PASSWORD INPUT -->
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    placeholder="Enter Password"
                    required
                />
                <input type="submit" value="Log In" />
                <a href="#">Olvidaste tu contraseña?</a><br />
                <a href="/auth/register">Aún no tenes cuenta?</a>
            </form>
        </div>
    
</html>
