<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bienvenidxs a Desapego</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/navigation.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/forms.css" />
        <link rel="stylesheet" href="/css/slider.css" />
        <link rel="stylesheet" href="/css/productDetail.css" />
    </head>

    <body class="bg-muted">
        <header>
            <div class="nav-container">
                <img
                    class="nav-logo"
                    src="/images/logo-desapego.svg"
                    alt="Logo de Desapego"
                />
            </div>
        </header>
        <form action="login.html" method="get"></form>
        <!--<div class="box">
            <h2>Login</h2>
            <form>
                <div class="inputBox">
                    <input type= "email" id= "email" name "email" required= "">
                    <label for="email"> Tu email</label>
                </div>
                <div class="inputBox">
                    <input type= "password" id= "password" name "password"
                    required= "">
                    <label for="password"> Tu contraseña</label>
                </div>
                <input type= "submit" id= "password" name "password">
                <a ref="#">No recuerdo mi contraseña</a>
                <a ref="#">No tengo cuenta !</a>
            </form>
        </div>-->
        <div class="login-box">
            <!-- <img src="/images/isologo2.png" class="avatar" alt="Avatar Image" /> -->
            <h1>Login</h1>
            <form>
                <!-- USERNAME INPUT -->
                <label for="username">Username</label>
                <input
                    type="text"
                    id="username"
                    placeholder="Enter Username"
                    required
                />
                <!-- PASSWORD INPUT -->
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    placeholder="Enter Password"
                    required
                />
                <input type="submit" value="Log In" />
                <a href="#">Olvidaste tu contraseña?</a><br />
                <a href="/register">Aún no tenes cuenta?</a>
            </form>
        </div>
    </body>
</html>
