<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        >
        <link rel="stylesheet" href="/css/navigation.css" />
        <link rel="stylesheet" href="/css/index.css" />
        <link rel="stylesheet" href="/css/forms.css" />
        <link rel="stylesheet" href="/css/slider.css" />
        <link rel="stylesheet" href="/css/productDetail.css" />
    </head>

    <body class="bg-muted">
        <header>
            <div class="nav-container">
                <img
                    class="nav-logo"
                    src="/images/logo-desapego.svg"
                    alt="Logo de Desapego"
                />
                <div class="menu-hamburger">
                    <i class="fas fa-bars menu-hamburger-icon"></i>
                </div>
                <div class="nav-location-container">
                    Estás comprando desde
                    <span
                        class="nav-location-box bg-muted display-inline-block"
                    >
                        <a href="#" class="nav-location-anchor">Rosario</a>
                        <i class="fas fa-map-marker-alt"></i
                    ></span>
                </div>
                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-anchor" href="#"
                                >Mis compras
                                <i class="fas fa-shopping-basket"></i
                            ></a>
                        </li>
                        <!-- Al ingresar a Desapego podes loguearte y sino tenes cuenta poser crearla desde el "login"
                            
                            <li class="nav-item">
                            <a class="nav-anchor" href="/register"
                                >Creá tu cuenta <i class="far fa-id-card"></i
                            ></a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-anchor" href="/login"
                                >Ingresá a Desapego
                                <i class="fas fa-sign-in-alt"></i
                            ></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-anchor" href="#">Vender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-anchor" href="#">Ayuda</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="product-container">
                <div class="product-images-container">
                    <div class="product-image-primary">
                        <img
                            src="images/product-detail/mac1.jpg"
                            alt=""
                            class="product-image-primary"
                        />
                    </div>
                    <div class="product-image-secondary-container">
                        <div class="product-image-secondary-item">
                            <img
                                src="images/product-detail/mac2.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                        <div class="product-image-secondary-item">
                            <img
                                src="images/product-detail/mac3.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                        <div class="product-image-secondary-item">
                            <img
                                src="images/product-detail/mac4.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                    </div>
                </div>
                <div class="product-text-container">
                    <p class="product-title">Macbook Pro 13''</p>
                    <p class="product-price text-secondary">$200.000</p>
                    <div class="product-details">
                        <p>
                            Pantalla de 13.3 pulgadas (diagonal) retroiluminada
                            por LED con tecnología IPS; resolución nativa de
                            2560 x 1600 a 227 pixeles por pulgada compatible con
                            millones de colores.
                        </p>
                        <p>
                            Intel Core i5 de 4 núcleos y 1.4 GHz de octava
                            generación (Turbo Boost de hasta 3.9 GHz) con 128 MB
                            de eDRAM.
                        </p>
                    </div>
                </div>
                <div class="product-purchase-container">
                    <div class="product-buttons-container">
                        <button class="product-button-add-to-basket bg-success">
                            Comprar
                        </button>
                        <button
                            class="product-button-message-to-seller bg-secondary"
                        >
                            Mensaje al Vendedor
                        </button>
                    </div>
                    <div class="product-seller-container">
                        <div class="product-seller-info">
                            <div class="product-seller-img-container">
                                <img
                                    src="/images/seller-detail/vendedor.jpg"
                                    alt=""
                                    class="product-seller-img"
                                />
                            </div>
                            <div class="product-seller-name-and-stars">
                                <p class="product-seller-name">Juana Pérez</p>
                                <div class="product-seller-stars">
                                    <i class="fas fa-star"></i
                                    ><i class="fas fa-star"></i
                                    ><i class="fas fa-star"></i
                                    ><i class="fas fa-star"></i
                                    ><i class="far fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="product-seller-payment-methods">
                            <p class="product-seller-payment-text">
                                Medios de pago aceptados:
                            </p>
                            <div class="product-seller-payment-icons">
                                <i class="fas fa-credit-card text-primary"></i>
                                <i
                                    class="far fa-money-bill-alt text-primary"
                                ></i>
                                <i class="fas fa-university text-primary"></i>
                                <i class="fas fa-mobile-alt text-primary"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer>
            <i class="far fa-credit-card text-secondary"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o
                efectivoen puntos de pago. ¡Y siempre es seguro!
            </p>
            <i class="fas fa-gift text-secondary"></i>
            <h4>Envío gratis desde los $ 2.500</h4>
            <p>
                Solo por estar registrad@ en MercadoLiebre tenés envíos gratis
                en miles de productos. Es un beneficio de MercadoPuntos.
            </p>
            <i class="fas fa-gift text-secondary"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no
                puedas hacer porque estás siempre prtegid@.
            </p>
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </footer>
    </body>
</html>
