<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head-base", {title: "Detalle del producto"}) %>
        <link rel="stylesheet" href="/css/productDetail.css" />
        <link
            rel="stylesheet"
            href="/css/productDetail-md.css"
            media="(min-width: 481px)"
        />
        <link
            rel="stylesheet"
            href="/css/productDetail-lg.css"
            media="(min-width: 769px)"
        />
    </head>
    <body class="bg-muted">
        <header><%- include("partials/header") %></header>
        <main>
            <div class="product-container">
                <div
                    class="product-images-container display-flex flex-direction-column product-images-container-lg"
                >
                    <div
                        class="product-image-primary-container product-image-primary-container-lg"
                    >
                        <img
                            src="images/product-detail/mac1.jpg"
                            alt=""
                            class="product-image-primary"
                        />
                    </div>
                    <div
                        class="product-image-secondary-container display-flex product-image-secondary-container-lg"
                    >
                        <div
                            class="product-image-secondary-item display-flex flex-direction-row"
                        >
                            <img
                                src="images/product-detail/mac2.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                        <div class="product-image-secondary-item">
                            <img
                                src="images/product-detail/mac3.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                        <div class="product-image-secondary-item">
                            <img
                                src="images/product-detail/mac4.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                    </div>
                </div>
                <div class="product-text-container">
                    <div
                        class="product-header display-flex justify-content-space-between align-items-center"
                    >
                        <p class="product-title font-size-1-5 font-weight-600">
                            Macbook Pro 13''
                        </p>
                        <i class="far fa-heart product-add-favourite"></i>
                    </div>
                    <p class="product-price text-secondary">$200.000</p>
                    <div class="product-details">
                        <p>
                            Pantalla de 13.3 pulgadas (diagonal) retroiluminada
                            por LED con tecnología IPS; resolución nativa de
                            2560 x 1600 a 227 pixeles por pulgada compatible con
                            millones de colores.
                        </p>
                        <p>
                            Intel Core i5 de 4 núcleos y 1.4 GHz de octava
                            generación (Turbo Boost de hasta 3.9 GHz) con 128 MB
                            de eDRAM.
                        </p>
                    </div>
                    <p
                        class="product-views font-size-0-8 font-style-italic text-dark"
                    >
                        <i class="far fa-eye text-dark"></i> 26
                    </p>
                </div>
                <div class="product-purchase-container">
                    <div
                        class="product-buttons-container display-flex flex-direction-column justify-content-center align-items-center"
                    >
                        <button
                            onclick="window.location.href='/productCart'"
                            class="product-button-add-to-basket button text-light bg-success"
                        >
                            Comprar
                        </button>
                        <button
                            class="product-button-message-to-seller button text-light bg-secondary"
                        >
                            Mensaje al Vendedor
                        </button>
                    </div>
                </div>
                <div
                    class="product-seller-container display-flex justify-content-center"
                >
                    <div
                        class="product-seller-info display-flex justify-content-center align-items-flex-start bg-light"
                    >
                        <div class="product-seller-img-container">
                            <img
                                src="/images/seller-detail/vendedor.jpg"
                                alt=""
                                class="product-seller-img"
                            />
                        </div>
                        <div
                            class="product-seller-name-and-stars display-flex flex-direction-column justify-content-center align-items-center"
                        >
                            <p class="product-seller-name">Juana Pérez</p>
                            <div class="product-seller-stars">
                                <i class="fas fa-star"></i
                                ><i class="fas fa-star"></i
                                ><i class="fas fa-star"></i
                                ><i class="fas fa-star"></i
                                ><i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="product-payment-methods-container display-flex flex-direction-column align-items-center bg-light"
                >
                    <p
                        class="product-payment-text font-size-1-1 font-weight-600 text-align-center"
                    >
                        Medios de pago aceptados:
                    </p>
                    <div
                        class="product-payment-icons-container display-flex justify-content-space-evenly width-100"
                    >
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-credit-card text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="far fa-money-bill-alt text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-university text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-mobile-alt text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="bg-dark text-light text-align-center">
            <%- include("partials/footer") %>
        </footer>
    </body>
</html>
