<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Bienvenidxs a Desapego</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
        />
        <link rel="stylesheet" href="/css/base.css" />
        <link rel="stylesheet" href="/css/theme.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link
            rel="stylesheet"
            href="/css/styles-md.css"
            media="(min-width: 481px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-lg.css"
            media="(min-width: 769px)"
        />
        <link rel="stylesheet" href="/css/forms.css" />
        <link rel="stylesheet" href="/css/footer.css" />
        <link
            rel="stylesheet"
            href="/css/footer-md.css"
            media="(min-width: 481px)"
        />
        <link rel="stylesheet" href="/css/productDetail.css" />
        <link
            rel="stylesheet"
            href="/css/productDetail-md.css"
            media="(min-width: 481px)"
        />
    </head>
    <body class="bg-muted">
        <header>
            <div
                class="nav-container display-flex flex-direction-column justify-content-center align-items-center"
            >
                <img
                    class="nav-logo"
                    src="/images/logo-desapego.svg"
                    alt="Logo de Desapego"
                />
                <div class="menu-hamburger">
                    <i class="fas fa-bars menu-hamburger-icon"></i>
                </div>

                <nav class="nav">
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a class="nav-anchor" href="#"
                                >Mis compras
                                <i class="fas fa-shopping-basket"></i
                            ></a>
                        </li>
                        <!-- Al ingresar a Desapego podes loguearte y sino tenes cuenta poser crearla desde el "login"
                            
                            <li class="nav-item">
                            <a class="nav-anchor" href="/register"
                                >Creá tu cuenta <i class="far fa-id-card"></i
                            ></a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-anchor" href="/login"
                                >Ingresar <i class="fas fa-sign-in-alt"></i
                            ></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-anchor" href="#">Vender</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-anchor" href="#">Ayuda</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div
                class="nav-location-container bg-secondary text-light display-flex justify-content-center align-items-center"
            >
                Estás comprando desde
                <span
                    class="nav-location-box bg-muted display-inline-block text-primary"
                >
                    <a href="#" class="nav-location-anchor">Rosario</a>
                    <i class="fas fa-map-marker-alt"></i
                ></span>
            </div>
        </header>
        <main>
            <div class="product-container">
                <div
                    class="product-images-container display-flex flex-direction-column"
                >
                    <div class="product-image-primary">
                        <img
                            src="images/product-detail/mac1.jpg"
                            alt=""
                            class="product-image-primary"
                        />
                    </div>
                    <div class="product-image-secondary-container display-flex">
                        <div
                            class="product-image-secondary-item display-flex flex-direction-row"
                        >
                            <img
                                src="images/product-detail/mac2.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                        <div class="product-image-secondary-item">
                            <img
                                src="images/product-detail/mac3.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                        <div class="product-image-secondary-item">
                            <img
                                src="images/product-detail/mac4.jpg"
                                alt=""
                                class="product-image-secondary"
                            />
                        </div>
                    </div>
                </div>
                <div class="product-text-container">
                    <div
                        class="product-header display-flex justify-content-space-between align-items-center"
                    >
                        <p class="product-title font-size-1-5 font-weight-600">
                            Macbook Pro 13''
                        </p>
                        <i class="far fa-heart product-add-favourite"></i>
                    </div>
                    <p class="product-price text-secondary">$200.000</p>
                    <div class="product-details">
                        <p>
                            Pantalla de 13.3 pulgadas (diagonal) retroiluminada
                            por LED con tecnología IPS; resolución nativa de
                            2560 x 1600 a 227 pixeles por pulgada compatible con
                            millones de colores.
                        </p>
                        <p>
                            Intel Core i5 de 4 núcleos y 1.4 GHz de octava
                            generación (Turbo Boost de hasta 3.9 GHz) con 128 MB
                            de eDRAM.
                        </p>
                    </div>
                    <p
                        class="product-views font-size-0-8 font-style-italic text-dark"
                    >
                        <i class="far fa-eye text-dark"></i> 26
                    </p>
                </div>
                <div class="product-purchase-container">
                    <div
                        class="product-buttons-container display-flex flex-direction-column justify-content-center align-items-center"
                    >
                        <button
                            onclick="window.location.href='/productCart'"
                            class="product-button-add-to-basket button text-light bg-success"
                        >
                            Comprar
                        </button>
                        <button
                            class="product-button-message-to-seller button text-light bg-secondary"
                        >
                            Mensaje al Vendedor
                        </button>
                    </div>
                </div>
                <div
                    class="product-seller-container display-flex justify-content-center"
                >
                    <div
                        class="product-seller-info display-flex justify-content-center align-items-flex-start bg-light"
                    >
                        <div class="product-seller-img-container">
                            <img
                                src="/images/seller-detail/vendedor.jpg"
                                alt=""
                                class="product-seller-img"
                            />
                        </div>
                        <div
                            class="product-seller-name-and-stars display-flex flex-direction-column justify-content-center align-items-center"
                        >
                            <p class="product-seller-name">Juana Pérez</p>
                            <div class="product-seller-stars">
                                <i class="fas fa-star"></i
                                ><i class="fas fa-star"></i
                                ><i class="fas fa-star"></i
                                ><i class="fas fa-star"></i
                                ><i class="far fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="product-payment-methods-container display-flex flex-direction-column align-items-center bg-light"
                >
                    <p
                        class="product-payment-text font-size-1-1 font-weight-600 text-align-center"
                    >
                        Medios de pago aceptados:
                    </p>
                    <div
                        class="product-payment-icons-container display-flex justify-content-space-evenly width-100"
                    >
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-credit-card text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="far fa-money-bill-alt text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-university text-primary"></i>
                        </div>
                        <div
                            class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                        >
                            <i class="fas fa-mobile-alt text-primary"></i>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="bg-dark text-light text-align-center">
            <div class="footer-articles-info-container-md">
                <article
                    class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
                >
                    <div
                        class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
                    >
                        <i class="far fa-credit-card text-secondary"></i>
                    </div>
                    <h4 class="footer-article-title font-size-0-9">
                        Pagá con tarjeta o en efectivo
                    </h4>
                    <p class="footer-article-text font-size-0-8">
                        Los vendedores aceptan múltiples formas de pago.
                    </p>
                </article>
                <article
                    class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
                >
                    <div
                        class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
                    >
                        <i class="fas fa-gift text-secondary"></i>
                    </div>
                    <h4 class="footer-article-title font-size-0-9">
                        Envío sin costo
                    </h4>
                    <p class="footer-article-text font-size-0-8">
                        Te contactas directamente con el vendedor para coordinar
                        la entrega.
                    </p>
                </article>
                <article
                    class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
                >
                    <div
                        class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
                    >
                        <i class="fas fa-user-shield text-secondary"></i>
                    </div>
                    <h4 class="footer-article-title font-size-0-9">
                        Seguridad de principio a fin
                    </h4>
                    <p class="footer-article-text font-size-0-8">
                        Las identidades de nuestros vendedores han sido
                        validadas bajo un estricto proceso de control.
                        <a href="#" class="link text-muted">Conocé más</a>
                    </p>
                </article>
            </div>
            <article>
                <p class="font-size-0-8">Copyright © 2020 Desapego S.A.</p>
            </article>
        </footer>
    </body>
</html>
