<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head-base", {title: "Tu carrito"}) %>
        <link rel="stylesheet" href="/css/productCart.css" />
        <link rel="stylesheet" href="/css/productDetail.css" />
        <link
            rel="stylesheet"
            href="/css/productDetail-md.css"
            media="(min-width: 481px)"
        />
        <link
            rel="stylesheet"
            href="/css/productDetail-lg.css"
            media="(min-width: 769px)"
        />
    </head>

    <body class="bg-muted">
        <header><%- include("partials/header") %></header>
        <div
            class="cart-top-banner display-flex justify-content-space-between align-items-center bg-primary width-100 text-light"
        >
            <h1 class="cart-title font-size-1-2">Tu carrito</h1>
            <i class="fas fa-shopping-cart cart-basket-icon"></i>
        </div>
        <main class="display-flex justify-content-center align-items-center">
            <div class="cart-container width-80">
                <div class="cart-product">
                    <div class="cart-product-image-container bg-light">
                        <img
                            src="/images/product-detail/mac1.jpg"
                            alt=""
                            class="cart-product-image"
                        />
                    </div>
                    <p class="cart-product-name">Macbook Pro 13''</p>
                    <div class="display-flex align-items-baseline">
                        <p>1 unidad</p>
                        <i class="far fa-plus-square"></i
                        ><i class="far fa-minus-square"></i>
                    </div>
                    <p>$200.000</p>
                </div>
                <div class="product-purchase-container">
                    <div
                        class="product-buttons-container display-flex flex-direction-column justify-content-center align-items-center"
                    >
                        <button
                            class="product-button-add-to-basket button text-light bg-success"
                            onclick="window.location.href='/'"
                        >
                            Continuar Compra
                        </button>
                        <button
                            class="product-button-message-to-seller button text-light bg-danger"
                        >
                            Vaciar Carrito
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="product-seller-container display-flex justify-content-center"
            >
                <div
                    class="product-seller-info display-flex justify-content-center align-items-flex-start bg-light"
                >
                    <div class="product-seller-img-container">
                        <img
                            src="/images/seller-detail/vendedor.jpg"
                            alt=""
                            class="product-seller-img"
                        />
                    </div>
                    <div
                        class="product-seller-name-and-stars display-flex flex-direction-column justify-content-center align-items-center"
                    >
                        <p class="product-seller-name">Juana Pérez</p>
                        <div class="product-seller-stars">
                            <i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="fas fa-star"></i
                            ><i class="far fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="product-payment-methods-container display-flex flex-direction-column align-items-center bg-light"
            >
                <p
                    class="product-payment-text font-size-1-1 font-weight-600 text-align-center"
                >
                    Medios de pago aceptados:
                </p>
                <div
                    class="product-payment-icons-container display-flex justify-content-space-evenly width-100"
                >
                    <div
                        class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                    >
                        <i class="fas fa-credit-card text-primary"></i>
                    </div>
                    <div
                        class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                    >
                        <i class="far fa-money-bill-alt text-primary"></i>
                    </div>
                    <div
                        class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                    >
                        <i class="fas fa-university text-primary"></i>
                    </div>
                    <div
                        class="product-payment-icon-item bg-muted display-flex justify-content-center align-items-center"
                    >
                        <i class="fas fa-mobile-alt text-primary"></i>
                    </div>
                </div>
            </div>
        </main>
        <footer class="bg-dark text-light text-align-center">
            <%- include("partials/footer") %>
        </footer>
    </body>
</html>
