<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head-base", {title: "Registrate en Desapego"}) %>
    </head>

    <body>
        <header>
            <div class="nav-container">
                <img
                    class="nav-logo"
                    src="/images/logo-desapego.svg"
                    alt="Logo de Desapego"
                />
            </div>
        </header>
        <div class="register-container">
            <div class="register">
                <h1>Formulario de Registración</h1>
                <form action="register.html" method="get">
                    <label for="nombres" class="display-none">Nombres</label>
                    <input
                        class="controls"
                        type="text"
                        name="nombres"
                        id="nombres"
                        placeholder="Nombre"
                    />
                    <label for="apellidos" class="display-none"
                        >Apellidos</label
                    >
                    <input
                        class="controls"
                        type="text"
                        name="apellidos"
                        id="apellidos"
                        placeholder="Apellido"
                    />
                    <label for="correo" class="display-none"
                        >Correo Electrónico</label
                    >
                    <input
                        class="controls"
                        type="email"
                        name="correo"
                        id="correo"
                        placeholder="Email"
                    />
                    <label for="password" class="display-none"
                        >Contraseña</label
                    >
                    <input
                        class="controls"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Contraseña"
                    />
                    <label for="direccion" class="display-none"
                        >Dirección</label
                    >
                    <input
                        class="controls"
                        type="text"
                        name="direccion"
                        id="direccion"
                        placeholder="Ingresá tu dirección"
                    />
                    <input type="checkbox" name="tyc-accepted" required />Estoy
                    de acuerdo con <a href="#">Terminos y Condiciones</a>
                    <button type="submit">Registrarme</button>
                </form>
            </div>
        </div>
    </body>
</html>
