<!DOCTYPE html>
<html>
    <head>
        <%- include("partials/head-base", {title: "Registrate en Desapego"}) %>
    </head>

    <body>
        <header><%- include("partials/header-simple") %></header>
        <div class="register-container">
            <div class="register">
                <h1>Formulario de Registración</h1>
                <form
                    action="/auth/register"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <label for="firstName" class="display-none">Nombre</label>
                    <input
                        class="controls"
                        type="text"
                        name="firstName"
                        id="firstName"
                        placeholder="Nombre"
                    />
                    <label for="lastName" class="display-none">Apellido</label>
                    <input
                        class="controls"
                        type="text"
                        name="lastName"
                        id="lastName"
                        placeholder="Apellido"
                    />
                    <!-- <label for="user" class="display-none">Usuario</label>
                    <input
                        class="controls"
                        type="text"
                        name="user"
                        id="user"
                        placeholder="Usuario"
                    /> -->
                    <label for="email" class="display-none"
                        >Correo Electrónico</label
                    >
                    <input
                        class="controls"
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Correo Electrónico"
                    />
                    <label for="password" class="display-none"
                        >Contraseña</label
                    >
                    <input
                        class="controls"
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Contraseña"
                    />
                    <label for="passwordConfirmation" class="display-none"
                        >Confirmación de Contraseña</label
                    >
                    <input
                        class="controls"
                        type="password"
                        name="passwordConfirmation"
                        id="passwordConfirmation"
                        placeholder="Confirmar contraseña"
                    />
                    <h4>Dirección</h4>
                    <label for="city" class="display-none">Ciudad</label>
                    <input
                        class="controls"
                        type="text"
                        name="city"
                        id="city"
                        placeholder="Ciudad"
                    />
                    <label for="state" class="display-none">Provincia</label>
                    <input
                        class="controls"
                        type="text"
                        name="state"
                        id="state"
                        placeholder="Provincia"
                    />
                    <label for="street" class="display-none">Calle</label>
                    <input
                        class="controls"
                        type="text"
                        name="street"
                        id="street"
                        placeholder="Calle"
                    />
                    <label for="houseNumber" class="display-none">Número</label>
                    <input
                        class="controls"
                        type="text"
                        name="houseNumber"
                        id="houseNumber"
                        placeholder="Número"
                    />
                    <label for="floor" class="display-none">Piso</label>
                    <input
                        class="controls"
                        type="text"
                        name="floor"
                        id="floor"
                        placeholder="Piso"
                    />
                    <label for="apartment" class="display-none"
                        >Departamento</label
                    >
                    <input
                        class="controls"
                        type="text"
                        name="apartment"
                        id="apartment"
                        placeholder="Departamento"
                    />
                    <label for="phoneNumber" class="display-none"
                        >Teléfono</label
                    >
                    <input
                        class="controls"
                        type="text"
                        name="phoneNumber"
                        id="phoneNumber"
                        placeholder="Teléfono"
                    />
                    <h4>Elegí tu foto de usuario</h4>
                    <input type="file" name="avatar" />
                    <label for="termsAndConditions" class="display-none"
                        >Términos y condiciones</label
                    >
                    <div class="display-flex">
                        <p class="">
                            Estoy de acuerdo con los
                            <a href="#">Terminos y Condiciones</a>
                        </p>
                        <input
                            type="checkbox"
                            name="termsAndConditions"
                            id="termsAndConditions"
                            class="display-block"
                            required
                        />
                    </div>
                    <button type="submit">Registrarme</button>
                </form>
            </div>
        </div>
    </body>
</html>
