<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link rel="stylesheet" href="/css/styles.css" />
        <title>Formulario Registro</title>
        <img
            class="nav-logo2"
            src="/images/logo-desapego.svg"
            alt="Logo de Desapego"
        />
    </head>
    <body>
        <div class="register-box">
            <h1>Formulario Registro</h1>
            <input
                class="controls"
                type="text"
                name="nombres"
                id="nombres"
                placeholder="Ingrese su Nombre"
            />
            <input
                class="controls"
                type="text"
                name="apellidos"
                id="apellidos"
                placeholder="Ingrese su Apellido"
            />
            <input
                class="controls"
                type="email"
                name="correo"
                id="correo"
                placeholder="Ingrese su Correo"
            />
            <input
                class="controls"
                type="password"
                name="correo"
                id="correo"
                placeholder="Ingrese su Contraseña"
            />
            <input
                class="controls"
                class="controls"
                type="text"
                name="dirección"
                id="direccion"
                placeholder="Ingrese su Dirección"
            />
            <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
        </div>
    </body>
</html>
