footer {
    margin-top: 1rem;
    margin-bottom: 0;
    padding-top: 0.1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.footer-article {
    margin: 2rem 1rem;
    padding: 0 2rem;
}

.footer-article-item-container {
    border-radius: 5000px;
    width: 2em;
    height: 2em;
}

.footer-article-title {
    margin: 0.5rem;
}
.footer-article-text {
    margin: 0;
}
