.form-index-container {
    padding: 2em 1.5em;
}

.form-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-index > label {
    margin: 0.5em 0;
}

.form-index > input {
    margin: 0.5em 0;
}

#distancia,
#precio {
    width: 80%;
}

.form-index-search-bar {
    border-radius: 50px;
    width: 80%;
}

.form-index > input + label {
    margin-top: 1em;
}

#precio {
    margin-bottom: 16px;
}
