/**

+++++++++
+ INDEX +
+++++++++

*/

.form-index-container {
    padding: 2em 1.5em;
}

.form-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-index > label {
    margin: 0.5em 0;
}

.form-index > input {
    margin: 0.5em 0;
}

#distancia,
#precio {
    width: 80%;
}

.form-index-search-bar {
    border-radius: 50px;
    width: 80%;
}

.form-index > input + label {
    margin-top: 1em;
}

#precio {
    margin-bottom: 16px;
}

/**

+++++++++
+ LOGIN +
+++++++++

*/

.login-box {
    width: 320px;
    height: 420px;
    background-color: rgba(49, 50, 134, 0.253);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    background: rgba (0, 0, 0, -8);
    color: black;
    top: 50%;
    left: 50%;
    /* position: absolute;
    transform: translate(-50%, -50%); */
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
    margin: 20px;
}
/* 
.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: rgba(135, 119, 223, 0.842);
} */

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    color: black;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

.login-box a:hover {
    color: #fff;
}

/*
TO DO

LOGIN VIEJO, ¿QUEDA?
*/

/* .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba (0, 0, 0, -8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #1259c3;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #1259c3;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #1259c3;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -18px;
    left: 0;
    color: purple;
    font-size: 12px;
}

.box input[type="submit"] {
    background: transparent;
    border: purple;
    outline: purple;
    color: #1259c3;
    background: whitesmokes;
    cursor: pointer;
    border-radius: 5px;
} */

/**

++++++++++++
+ REGISTER +
++++++++++++

*/
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.register {
    width: 80vh;
    background-color: rgba(49, 50, 134, 0.253);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    background: rgba (0, 0, 0, -8);
    color: black;
    /* top: 50%;
    left: 50%; */
    /* position: absolute; */
    /* transform: translate(-50%, -50%); */
    box-sizing: border-box;
    padding: 20px 60px 10px;
    border-radius: 10px;
    margin: 20px;
}

.register h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    color: black;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: "calibri";
    font-size: 18px;
    color: white;
}

.form-register {
    width: 400px;
    background: rgba(49, 50, 134, 0.253);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "calibri";
    color: white;
    box-shadow: 7px 13px 37px #000;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}

/* .login-box {
    width: 320px;
    height: 420px;
    background-color: rgba(49, 50, 134, 0.253);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    background: rgba (0, 0, 0, -8);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: rgba(135, 119, 223, 0.842);
} */

.register label {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.register input {
    width: 100%;
    margin-bottom: 20px;
}

.register input[type="text"],
.register input[type="password"],
.register input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.register button[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 22px;
    border-radius: 20px;
}

.register button[type="submit"]:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #000;
}

.register a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

.register a:hover {
    color: #fff;
}
