textarea {
    resize: none;
}

/**

+++++++++
+ INDEX +
+++++++++

*/

.form-index-container {
    padding: 2em 1.5em;
}

.form-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-index-label {
    padding: 0.5rem 0.8rem;
    border-radius: 24px;
}

.form-index > label {
    margin: 0.5em 0;
}

.form-index > input {
    margin: 0.5em 0;
}

.form-index-search-bar {
    border-radius: 50px;
    width: 80%;
}

.form-index > input + label {
    margin-top: 1em;
}

.form-index input {
    border-style: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 25px;
}

#distancia,
#precio {
    width: 60%;
}

.index-search-bar-container {
    position: relative;
}

.index-search-bar {
    border-style: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    height: 30px;
}

.index-search-bar-container > button {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 10px;
}

/**

+++++++++
+ LOGIN +
+++++++++

*/

.login-box {
    width: 320px;
    height: 420px;
    background-color: rgba(49, 50, 134, 0.253);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    color: black;
    box-sizing: border-box;
    padding: 70px 30px;
    margin-top: 20px;
    border-radius: 10px;
}
/* 
.login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: rgba(135, 119, 223, 0.842);
} */

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
    color: black;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #2188db;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #1e7bc7;
    color: #000;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: black;
}

.login-box a:hover {
    color: #fff;
}

/**

++++++++++++
+ REGISTER +
++++++++++++

*/

.register-container {
    display: flex;
    justify-content: center;
}

.register {
    width: 80vh;
    background-color: rgba(49, 50, 134, 0.253);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    padding: 20px 60px 10px;
    border-radius: 10px;
    margin: 20px;
}

.register h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 25px;
}

.form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color: white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.register-input {
    width: 100%;
    padding: 7px 7px 7px 15px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: black;
    font-size: 16px;
}

.register button[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    border-radius: 40px;
    padding: 15px;
}

.register button[type="submit"]:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    color: #000;
}

.register a {
    text-decoration: none;
    line-height: 20px;
    color: black;
    font-weight: 600;
}

.register a:hover {
    color: rgb(73, 73, 73);
}

/**

++++++++++++++++++
+ PRODUCT CREATE +
++++++++++++++++++

*/

.product-create-title {
    padding: 10px 15px;
    font-weight: 500;
}

.create-product-form > div > label {
    padding: 10px 0;
}

.create-product-form input,
.create-product-form textarea {
    border-style: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.create-product-form input {
    height: 25px;
}

.create-product-form button {
    height: 30px;
    border-style: none;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 15px;
}

/**

+++++++++++++++
+ VALIDATIONS +
+++++++++++++++

*/

.input-container {
    position: relative;
    height: 80px;
}

.validation-icon {
    display: none;
    width: 2px;
}

.feedback {
    display: none;
    font-size: 12px;
    margin-top: -22px;
    margin-bottom: 20px;
    padding-left: 15px;
    color: #b64242;
}

.is-valid {
    border-style: solid;
    border-bottom: solid;
    border-color: transparent;
    border-width: 0.1px;
    border-radius: 1rem;
    box-shadow: 0px 0px 9px #12b11f;
    margin-bottom: 10px;
}

.is-invalid {
    border-style: solid;
    border-bottom: solid;
    border-color: transparent;
    border-width: 0.1px;
    border-radius: 1rem;
    box-shadow: 0px 0px 9px #b64242;
    margin-bottom: 10px;
}

.is-invalid-icon {
    display: block;
    position: relative;
    top: -36px;
    left: -30px;
    color: #b64242;
    font-size: 20px;
}

.is-valid-icon {
    display: block;
    position: relative;
    top: -36px;
    left: -30px;
    color: #12b11f;
    font-size: 20px;
}

.has-message {
    display: block;
}
