body {
    background: none;
}

.featured-products {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* .featured-products-item-container {
    display: flex;
} */

.featured-products-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
