.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #cccccc;
}

.nav-logo {
    width: 14em;
}

.nav-logo2 {
    width: 20%;
}

.menu-hamburger {
    font-size: 1.3em;
    background-color: #565656;
    padding: 0.35em 0.5em;
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.menu-hamburger-icon {
    color: #fff;
}

.nav-location-anchor {
    text-decoration: none;
}

.nav-location-container {
    font-size: 0.8em;
    margin: 1em 0;

    display: flex;
    align-items: baseline;
}

.nav-location-box {
    padding: 0.5em 0.8em;
    border-radius: 5000px;
    margin-left: 0.5em;
}

.nav-location-anchor:link,
.nav-location-anchor:visited {
    color: inherit;
    font-weight: 600;
}

.nav-item {
    margin: 1em;
}

.nav-list {
    /*TO DO hacer hamburger menu con JS*/
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-end;
    list-style-type: none;
}

.nav-anchor {
    text-decoration: none;
    color: #565656;
}

.nav-anchor:hover {
    text-decoration: none;
    color: #9b1fdd;
}

@media (min-width: 768px) {
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: #cccccc;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style-type: none;
    }

    .menu-hamburger {
        display: none;
    }
}
