.cart-top-banner {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cart-title {
    margin-left: 2rem;
}

.cart-basket-icon {
    margin-right: 2rem;
}

.cart-ammount-number {
    padding: 0.5rem 0.8rem;
    border-radius: 24px;
    margin-left: 0.5em;
    border: 1px solid #2188db;
}

.cart-ammount-controls {
    padding-left: 5px;
}

.cart-price {
    padding: 0.5rem 0.8rem;
    border-radius: 24px;
    margin-left: 0.5em;
    border: 1px solid #39b54a;
}

.product-button-buy,
.product-button-cancel {
    width: 80%;
}

.cart-seller-img-container {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.cart-seller-img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.cart-seller-name {
    margin: 0;
}

.seller-and-payment-methods-container {
    margin-top: 15px;
}
