.cart-title {
    margin-left: 2rem;
}

.cart-basket-icon {
    margin-right: 2rem;
}

.cart-product-image-container {
    width: 20%;
}

.cart-product-info {
    padding-left: 10px;
}

.product-button-buy,
.product-button-cancel {
    width: 70%;
}
