.product-images-container {
    padding: 1em;
}

.product-image-primary {
    background-color: #fff;
    width: 100%;
}

.product-image-secondary-container {
    width: 100%;
}

.product-image-secondary-item {
    width: 33.3%;
}

.product-image-secondary {
    background-color: #fff;
    object-fit: contain;
    width: 100%;
}

.product-text-container {
    background-color: #fff;
    margin: 1em;
    padding: 0.5em;
}

.product-title {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.product-add-favourite {
    margin-right: 1em;
    cursor: pointer;
}

.product-price {
    font-size: 1.2em;
    margin-top: 0em;
}

.product-button-add-to-basket,
.product-button-message-to-seller {
    font-size: 1em;
    font-weight: 400;
    padding: 0.5em;
    width: 50%;
    border-radius: 5000px;
    border-style: solid;
    border-width: 0;
    margin: 0.2em;
}

.product-seller-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product-seller-info {
    border-radius: 5000px;
    padding: 0.5em 0;
    width: 70%;
}

.product-seller-img-container {
    width: 30%;
}

.product-seller-img {
    width: 100%;
    object-fit: contain;
    margin-right: 15px;
}

.product-seller-name-and-stars {
    margin-left: 15px;
}

.product-seller-name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.product-payment-methods-container {
    padding: 1em;
    margin: 1em;
}

.product-payment-text {
    margin-top: 0;
}

.product-payment-icon-item {
    width: 40px;
    height: 40px;
    border-radius: 5000px;
}
