body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background: url(/images/fondo.jpg);
    background-size: auto;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba (0, 0, 0, -8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #1259c3;
    text-align: center;
}
.box .inputBox {
    position: relative;
}
.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: grey;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #1259c3;
    outline: none;
    background: transparent;
}

.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #1259c3;
    pointer-events: none;
    transition: 0.5s;
}

.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -18px;
    left: 0;
    color: purple;
    font-size: 12px;
}

.box input[type="submit"] {
    background: transparent;
    border: purple;
    outline: purple;
    color: #1259c3;
    background: whitesmokes;
    cursor: pointer;
    border-radius: 5px;
}

.link-a {
    text-decoration: none;
    color: black;
}

.link {
    list-style-type: none;
}

.text-primary {
    color: #9b1fdd;
}

.text-secondary {
    color: #2188db;
}

.text-success {
    color: #39b54a;
}

.text-warning {
    color: #9b1fdd;
}

.text-dark {
    color: #666;
}

.text-muted {
    color: #ebebeb;
}

.bg-primary {
    background-color: #9b1fdd;
}

.bg-secondary {
    background-color: #1259c3;
}

.bg.success {
    background-color: #9b1fdd;
}

.bg-warning {
    background-color: #a09d8e;
}

.bg-dark {
    background-color: #666;
}

.bg-muted {
    background-color: #ebebeb;
}

.truck-icon {
    display: block;
}

p {
    font-size: 12px;
}

.headline {
    font-size: 24px;
}

.discount .description {
    font-size: 16px;
}

.price {
    font-size: 18px;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.p-r-5 {
    padding-right: 5%;
}

.display-flex {
    display: flex;
    justify-content: center;
}

#boton-vender {
    border: 8px solid #1259c3;
    text-align: center;
    font-size: 1.2em;
    padding: 5%;
}
