<div
    class="featured-products-item-container bg-light padding-10 featured-products-item-container-md featured-products-item-container-lg"
>
    <a href="/product/<%= product.id %>" class="anchor">
        <div class="featured-products-image-container width-100">
            <img
                src="/images/products/<%= product.image %>"
                alt=""
                class="width-100"
            />
        </div>
        <p class="font-weight-600"><%= product.name %></p>
        <p class="text-success font-weight-600">
            $<%= toThousand(product.price) %>
        </p>
    </a>
</div>
