<!-- <div class="footer-articles-info-container-md">
    <article
        class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
    >
        <div
            class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
        >
            <i class="far fa-credit-card text-secondary"></i>
        </div>
        <h4 class="footer-article-title font-size-0-9">
            Pagá con tarjeta o en efectivo
        </h4>
        <p class="footer-article-text font-size-0-8">
            Los vendedores aceptan múltiples formas de pago.
        </p>
    </article>
    <article
        class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
    >
        <div
            class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
        >
            <i class="fas fa-gift text-secondary"></i>
        </div>
        <h4 class="footer-article-title font-size-0-9">Envío sin costo</h4>
        <p class="footer-article-text font-size-0-8">
            Te contactas directamente con el vendedor para coordinar la entrega.
        </p>
    </article>
    <article
        class="footer-article footer-article-md display-flex flex-direction-column justify-content-center align-items-center"
    >
        <div
            class="footer-article-item-container display-flex justify-content-center align-items-center bg-muted"
        >
            <i class="fas fa-user-shield text-secondary"></i>
        </div>
        <h4 class="footer-article-title font-size-0-9">
            Seguridad de principio a fin
        </h4>
        <p class="footer-article-text font-size-0-8">
            Las identidades de nuestros vendedores han sido validadas bajo un
            estricto proceso de control.
            <a href="#" class="link text-muted">Conocé más</a>
        </p>
    </article>
</div> -->
<article>
    <p class="font-size-0-8">Copyright © 2020 Desapego S.A.</p>
</article>