<div
    class="nav-container display-flex flex-direction-column justify-content-center align-items-center"
>
    <a href="/"
        ><img
            class="nav-logo"
            src="/images/logo-desapego.svg"
            alt="Logo de Desapego"
    /></a>
</div>
